.customBtn {
  background-color: transparent;
  border-color: transparent;
  font-weight: bold;
  cursor: pointer;
  color: brown;
  border-radius: 20px;
}

.customBtn.green {
  color: green;
}

.customBtn.red {
  color: red;
}

.customBtn:disabled {
  cursor: not-allowed;
  color: #898383;
}

.customBtn:focus {
  outline: none;
}

.customBtn:not(:disabled):hover {
  color: white;
  background-color: brown;
}

.customBtn.green:not(:disabled):hover {
  background-color: green;
}

.customBtn.red:not(:disabled):hover {
  background-color: red;
}
