body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.mainBurgerIngredients {
  float: left;
  margin-top: 6%;
  width: 40%;
}

.mainBurgerControls {
  float: left;
  margin-top: 6%;
  width: 50%;
}
